html {
  scroll-snap-type: y mandatory;
}

body {
  background-image: url("https://p7.hiclipart.com/preview/582/707/825/old-wood-texture.jpg");
  background-size: cover;
}

.app {
  /* color: white; */
  height: 100vh;
  /* next two lines will center the div container rather than using margin auto */
  display: grid;
  place-items: center;
}

.camera {
  position: -webkit-sticky;
  position: sticky;
  top: 0.5rem;
  margin-left: 72%;
  z-index: 1;
  height: 35px;
  width: 90px;
  background-color: rgb(0, 0, 0);
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

@media screen and (max-width: 500px) {
  .camera {
    display: none;
  }
}

.lense1 {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 25px;
  width: 25px;
  background-color: rgb(56, 52, 52);
  border-radius: 50%;
}

.lense_eye1 {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 15px;
  width: 15px;
  background-color: #222222;
  border-radius: 50%;
}

.lense2 {
  position: absolute;
  top: 5px;
  right: 60px;
  height: 25px;
  width: 25px;
  background-color: rgb(56, 52, 52);
  border-radius: 50%;
}

.lense_eye2 {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 15px;
  width: 15px;
  background-color: #222222;
  border-radius: 50%;
}

.app_videos {
  position: relative;
  margin: auto;
  height: 800px;
  border-radius: 40px;
  /* scroll the container */
  overflow: scroll;
  width: 400px;
  scroll-snap-type: y mandatory;
  border-style: solid;
  border-width: 12px 8px 17px 8px;
  box-shadow: 5px 5px 5px 5px #1b1b1b;
  background-color: #111111;
}

@media screen and (max-width: 500px) {
  .app_videos {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    height: 100%;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.app_videos::-webkit-scrollbar {
  display: none;
}

Hide scrollbar for IE,
Edge and Firefox .app_videos {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
